@model LigaNOS.Models.ClubViewModel
@{
    ViewData["Title"] = "Create";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<h1>Create New Club</h1>
<p></p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coach" class="control-label"></label>
                <input asp-for="Coach" class="form-control" />
                <span asp-validation-for="Coach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label"></label>
                <input asp-for="Stadium" class="form-control" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}