@{
    ViewData["Title"] = "About";
}


<div class="background-image">

</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center display-4 mb-4">Welcome to LigaNOS Football Management System!</h1>

            <p class="lead text-center">The LigaNOS Football Management System is your ultimate solution for managing the complexities of football competitions with ease and precision. Designed for football enthusiasts, professionals, and clubs, our platform offers a seamless and comprehensive experience to handle every aspect of your football journey.</p>

            <p class="text-center">Whether you’re managing team rosters, scheduling matches, tracking player stats, or reviewing game results, LigaNOS simplifies these tasks with an intuitive interface and advanced tools. Built with modern technologies and inspired by the love for the game, our system empowers clubs and administrators to focus on what truly matters – the beautiful game itself.</p>

            <p class="text-center">From grassroots clubs to professional leagues, LigaNOS Football Management System ensures that every goal, victory, and stat is accounted for. Elevate your football experience, streamline management processes, and keep your teams moving forward with confidence.</p>
        
        </div>
    </div>
</div>

<strong>Collaborations: </strong> 

<div class="linkedin-container">
    <div class="linkedin-button">
        <a href="https://www.linkedin.com/in/rpmiguens" target="_blank">
            <img src="~/images/linkedin.jpg" alt="Rita Miguéns" class="linkedin-photo">
        </a>
    </div>

    <div class="linkedin-button">
        <a href="https://pt.linkedin.com/school/cinel-centro-forma-o-profissional-ind-stria-electr-nica-energia-telecom.-e-tec.-de-informa-o/" target="_blank">
            <img src="~/images/cinel.jpg" alt="CINEL" class="linkedin-photo">
        </a>
    </div>
</div>

