@{
    ViewData["Title"] = "Home Page";
}


    <div class="background-image">

        <p>Welcome!!</p>
    </div>
<main>
    <div class="youtube-video-container" style="text-align: center; margin-top: 20px;">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/67y_RVTZH6o?si=ysuzID_1H7MIDbSo"
                title="1st Football Game Recorded - Blackburn Rovers e West Bromwich 24-09-1898"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</main>
 
