@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="background-image">

</div>

<h1>1. WHO WE ARE</h1>

<p>
    The <strong>"LIGA NOS"</strong> (LN), "we" and "our" refer to the companies that make up the LIGA NOS network, which includes the Football Foundation – Liga NOS, Liga NOS Infrastructures, Liga NOS Commercial, Liga NOS Centralization, and Liga NOS Business School.
</p>

<p>
    LIGA NOS is the entity responsible or co-responsible for collecting and processing your personal data, when it decides which data is collected, the means of processing, and the purposes for which the data is processed.
</p>

<p>
    Additionally, LIGA NOS processes personal data as a subcontracted entity, on behalf of and according to the instructions of other responsible entities, in the context of its services, statutes, and regulations.
</p>

<h1>2. OUR COMMITMENT</h1>

<p>
    This privacy policy reflects our commitment to:
    <ul>
        <li>Communicate transparently about the personal data we process and under what conditions;</li>
        <li>Protect the security and privacy of personal data; and,</li>
        <li>Provide appropriate mechanisms for exercising the rights of data subjects.</li>
    </ul>
</p>

<p>
    If you are our associate, customer, potential customer, job applicant, alumni, supplier, partner, or user of our websites ("sites") in the network or mobile applications ("apps"), we recommend reading this document and the Terms and Conditions of our services.
</p>

<p>
    LIGA NOS promotes the protection of the confidentiality and privacy of the information entrusted to it. As part of this fundamental obligation, LIGA NOS also promotes the appropriate protection and use of personal data (referred to as "personal data," "personally identifiable information," or "PII") that are collected through its websites, platforms, and apps in the network.
</p>

<h1>3. WHAT PERSONAL DATA WE COLLECT AND PROCESS</h1>

<p>
    When you register and/or submit personal data to LIGA NOS, we will use them as described in this Privacy Policy. Your personal information will not be used for other purposes unless we obtain your authorization or if required or permitted by law or professional rules.
</p>

<p>
    Essentially, personal data is any information that, directly or in combination with other data, can identify an individual.
</p>

<p>
    The following table presents the main categories of personal data we process:
</p>

<h2>Category of personal data</h2>
<ul>
    <li><strong>Identification and contacts:</strong> Name, identification document number, NIF, photograph, signature, address, phone contact, or email address.</li>
    <li><strong>Biographical data:</strong> Date of birth, gender, nationality, place of birth, marital status, family household, academic qualifications, professional experience, LinkedIn profile, curriculum vitae.</li>
    <li><strong>Financial data:</strong> IBAN, income, or financial/real estate assets.</li>
    <li><strong>Relationship with LIGA NOS:</strong> Data related to participation in LIGA NOS events or interactions between the data subject and LN.</li>
    <li><strong>Opinions and preferences:</strong> Preferences related to receiving LN invitations and publications, social media comments, or satisfaction questionnaire responses.</li>
    <li><strong>Content:</strong> Information contained in written communications between the data subject and LIGA NOS or CCTV footage.</li>
    <li><strong>Website and app usage:</strong> Pages visited or information about the devices used (e.g., IP address, browser used, geographic location).</li>
</ul>

<h1>4. HOW WE PROTECT PERSONAL DATA</h1>

<p>
    The protection of data confidentiality and integrity is (i) a legal and regulatory obligation, and (ii) one of the pillars in building trust between LIGA NOS and its clients, employees, regulatory bodies, and business partners.
</p>

<p>
    LIGA NOS has implemented appropriate organizational measures, processes, and security systems to protect your personal data against destruction, alteration, and unauthorized access, including: (i) access control mechanisms to information systems and data; (ii) specialized security systems (e.g., firewalls, antivirus, vulnerability management); (iii) logging mechanisms of actions taken by employees and other users of information systems; (iv) data encryption, pseudonymization, and anonymization mechanisms; (v) encryption measures for equipment and mobile devices; (vi) physical security measures for facility protection (e.g., access control, video surveillance); and (vii) an awareness and training program for LIGA NOS employees and partners on information security and personal data protection.
</p>

<h1>5. OPTIONS</h1>

<p>
    In general, you are not required to provide any personal data when visiting our websites, but LIGA NOS may request certain personal data so that you can receive additional information about our services and events. LIGA NOS may also request your authorization to use your personal data for specific purposes, and you may accept or decline. If you choose to subscribe to certain services or communications, such as an electronic newsletter, you may cancel at any time by following the instructions included in each communication. If you choose to cancel a service or communication, we will attempt to remove your data immediately, although we may request additional information before we can process your request.
</p>

<p>
    As described above, if you wish to prevent cookies from identifying you while browsing our websites, you can reset your browser to refuse all cookies or to notify you when a cookie is being sent. However, please note that some areas of our websites may not function properly if you choose to refuse cookies.
</p>

<h1>6. LINKS TO OTHER SITES</h1>

<p>
    Please be aware that LIGA NOS websites may contain links to other websites, including those maintained by other member companies of LIGA NOS that may not be subject to this Privacy Policy but to other privacy policies that may differ in some aspects. We recommend that users read the privacy policy of each website visited before providing any personal data.
</p>

<p>
    By registering on any LIGA NOS website and browsing to other sites with your login, you agree to the use of your personal data under the Privacy Policy of the LIGA NOS website you are visiting.
</p>

<h1>7. CHANGES TO THE PRIVACY POLICY</h1>

<p>
    LIGA NOS may periodically change its Privacy Policy to reflect our current privacy practices. When we make changes to the Privacy Policy, we update the "last updated" date on this page. Any changes that may affect you will be communicated through an appropriate channel, in line with how we usually communicate with you.
</p>

<p>
    We advise you to periodically review this Privacy Policy to stay informed about how LIGA NOS protects your information. The updated version will always be available for consultation on our website www.liganos.pt.
</p>

<h1>8. QUESTIONS ABOUT THE POLICY AND ITS APPLICATION</h1>

<p>
    LIGA NOS is committed to protecting the privacy of your personal information. If you have any questions or comments about how we manage your personally identifiable information, please contact us at dpo@liganos.pt. You can also use this email address to raise any concerns you may have regarding compliance with our Privacy Policy.
</p>

<p>
    We will acknowledge receipt of your email within 10 days, and we will aim to resolve your matter within one month of receiving it. When the matter is complex or we have a high volume of requests to review, we may extend the response time by an additional three months. We will either accept the request and implement one of the measures set out in Section 7 - What Are Your Rights as a Data Subject, or we may reject it for legitimate reasons.
</p>

<p>
    In any case, you always have the right to file a complaint with the National Data Protection Commission in Portugal.
</p>